body{
    background: url(./image/background.PNG);
}
.btn-outline-danger
{float: right;
height: 60px;
width: 150px;
font-size: 25px;
font-family: 'Love Ya Like A Sister', cursive;
background-color: rgb(206, 92, 111);
border: rgb(206, 92, 111);
color: black;
border-radius: 20px;
border-style: groove;
}
 .btn:hover{
background-color: rgb(165, 109, 91);
color: white;
border: rgb(165, 109, 91) ;
}
.rounded-circle
{
border:  dashed rgb(165, 109, 91);
}

h1{
 margin-left: 49%;
 font-size: 50px;
 font-family: 'Caveat Brush', cursive;
}

form{
    margin-left: 40%;
}
.c4{
    margin-left: 45%;
    width: 30%;
    font-size: 30px;
    background-color: rgb(252, 176, 105);
    border-radius: 15px;
    font-family: 'Nanum Pen Script', cursive;
}
 
label
{
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Grand Hotel', cursive;

}
 input {
   width: 60%;
 }

 .border {
    width: 700px;
   margin-left: 15%;
 }
