body{
    background: url(./../image/background.PNG);
}
.rounded-circle
{
border:  dashed rgb(165, 109, 91);
}

h1 
{   
    margin-left: 27%;
    font-family: 'Luckiest Guy', cursive;
}

.f1
{
    font-size: 18px;
    text-align: justify;
    font-family: 'Acme', sans-serif;
}

h2{
font-family: 'Kaushan Script', cursive;
font-size: 35px;
color: rgb(206, 92, 111);

}

.f3
{
    margin-left: 60%;
    margin-top: -60%;

}

.f4
{
    margin-left: 65%;
    margin-top: 10%;
    width: 20%;
    font-size: 30px;
    background-color: rgb(252, 176, 105);
    font-family: 'Nanum Pen Script', cursive;
}
a:hover button{
    background-color: rgb(165, 109, 91);
    color: white;
     }
.border
{
    background-color: white;
    border: groove;
    width: 75%;
    margin-left: 18%;
}
li ,.s{
    font-family: 'Kalam', cursive;
}